.hide {
  display: none;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.clear {
  clear: both;
}
.iterations_extra_info {
  color: #888;
}

.html .field-widget-asf-asf-form input.timepicker_time{
	width:auto;
}